<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
          rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h3 class="text-muted">RESULTADOS</h3>

      </div>
      <hr/>
      <div>

        <ul>
            {% for nombre, url in archivos %}
                <li><a href="{{ url }}">{{ nombre }}</a></li>
            {% endfor %}

        </ul>
      </div>
    </div>
  </body>
</html>
